@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World Asp.Net Core</h1>
    <span>Exercício em desenvolvimento nas aulas de Programação para Internet</span>
    </div>
